<!DOCTYPE html>
<html lang="en" th:replace="~{layouts/adminLayout :: adminQuestion(~{::title}, ~{::form})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit Question</title>
</head>
<body>
    <form role="form" method="post" th:action="@{/admin/questions/{id}(id=${question.id})}" th:object="${question}" enctype="multipart/form-data">

        <div th:replace="~{admin/questions/fragments/form :: questionForm(${question})}"></div>
        <img th:if="*{image != null}" th:src="@{'/images/'+ *{image}}" />
    </form>
</body>
</html>