<!DOCTYPE html>
<html lang="en" th:replace="~{layouts/adminLayout :: adminQuestion(~{::title}, ~{::div})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Show Question</title>
</head>
<body>
    <div th:object="${question}">
        <table class="table-auto w-full text-center">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Enabled</th>
                    <th>Prompt</th>
                    <th>Subject</th>
                    <th>Type</th>
                    <th>Correct Answer</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <a th:href="@{/admin/questions/{id}/edit(id=*{id})}" th:text="*{id}"></a>
                    </td>
                    <td>
                        <input type="checkbox" th:checked="*{enabled}" disabled/>
                    </td>
                    <td>
                        <a th:href="@{/admin/questions/{id}/edit(id=*{id})}" th:text="*{prompt}"></a>
                    </td>
                    <td th:text="${viewHelpers.normalizeTitle(question.subject)}"></td>
                    <td th:text="*{type}"></td>
                    <td th:text="*{correctAnswer}"></td>
                </tr>
            </tbody>
        </table>

        <th:block th:if="*{type} == ${T(io.csecprep.entities.QuestionTypes).MULTIPLECHOICE}">
            <div th:unless="*{choices.isEmpty()}">
                <div th:each="choice : *{choices}">
                    <p th:text="${choice.choiceText}"></p>
                    <p th:text="${choice.correct}"></p>
                </div>
            </div>

            <div th:replace="~{admin/choices/new :: newChoice (${choice}, ${question})}"></div>
        </th:block>

        <th:block th:if="*{type} == ${T(io.csecprep.entities.QuestionTypes).MULTIPART}">
            <div th:unless="*{subParts.isEmpty()}">
                <div th:each="subPart : *{subParts}">
                    <p th:text="${subPart.prompt}"></p>
                    <p th:text="${subPart.correctAnswer}"></p>
                </div>
            </div>

            <div th:replace="~{admin/questions/sub_parts/new :: newSubPart (${subPart}, ${question})}"></div>
        </th:block>


    </div>
</body>
</html>