<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/application.css}">
    <script th:src="@{/javascript/application.js}" defer></script>

    <title>Exam</title>
</head>
<body>
    <div class="container mx-auto">
        <a th:href="@{/}">CSEC PREP</a>

        <th:block th:each="question : ${questions}">
            <div th:switch="${question.type}">
                <div class="border rounded-md">
                    <header class="p-1.5 bg-slate-700">
                        <h5 class="m-0 text-white">Question [[${questions.getNumber()}+1]]</h5>
                    </header>
                    <div th:case="${T(io.csecprep.entities.QuestionTypes).MULTIPLECHOICE}">
                        <div th:replace="~{question/multiple_choice :: multi-choice (${question})}"></div>
                    </div>
                    <div th:case="${T(io.csecprep.entities.QuestionTypes).MULTIPART}">
                        <div th:replace="~{question/multi_part :: multi-part (${question})}"></div>
                    </div>
                    <div th:case="${T(io.csecprep.entities.QuestionTypes).SINGLEVALUE}">
                        <div th:replace="~{question/single_value :: single-value (${question})}"></div>
                    </div>
                </div>
            </div>
            <a th:href="@{/exam(subject=${question.subject},year=${question.year},pageNumber=1+${questions.getNumber()})}" th:text="Next"></a>
        </th:block>
    </div>
</body>
</html>